﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Main">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<base href="/" />
	<link href="@(Url.Content("~/dist/css/bundle.css"))" type="text/css" rel="stylesheet" />
</head>

<body>
	@*Header*@
	<nav class="navbar navbar-default">
		<div class="container">
			<a href="/">
				<img src="http://www.graduationalliance.com/images/ga_logo_white.png" />
			</a>
			<div class="row">
				<ul class="nav navbar-nav">
					<li>
						<a ui-sref="teachers"> Teachers</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown"> Welcome<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ui-sref="hello-world">Hello World</a></li>
							<li><a ui-sref="hello-universe">Hello Universe</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	@*Body*@
	<div class="container mb-10 body-container">
		<div>
			<div class="main-content-spacer">
				<div ui-view></div>
				@RenderBody()
			</div>
		</div>
	</div>

	@*Footer*@
	<div class="hidden-print">
		<footer>
			<div class="text-center pb-1">
				CopyWrite @DateTime.Now.Year <a href="http://www.graduationalliance.com/">Graduation Alliance, Inc.</a>
			</div>
		</footer>
	</div>
	<script src="@(Url.Content("~/dist/scripts/vendor.js"))" type="text/javascript"></script>
	<script src="@(Url.Content("~/dist/scripts/app.js"))" type="text/javascript"></script>
</body>
</html>