﻿<div ng-controller="AssignedStudentsController as asCtrl">
	<!-- Todo Implement the UI using bootstrap and angular -->
	<h1>Teacher's Name Goes Here</h1>
	<div class="row">
		<div class="col-md-4">
			Search Fields Go Here
		</div>
		<div class="col-md-8">
			Results Table Goes Here
		</div>
	</div>
</div>