﻿<div ng-controller="TeachersController as tCtrl">
	<h1>Teachers</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>TeacherId</th>
			<th>UserId</th>
		</tr>
		<tr ng-repeat="teach in tCtrl.teachers">
			<td><a ui-sref="assignedstudents({teacherId: teach.TeacherId})">{{teach.FirstName}}{{teach.LastName}}</a></td>
			<td>{{teach.TeacherId}}</td>
			<td>{{teach.UserId}}</td>
		</tr>
	</table>
</div>