﻿<div ng-controller="HelloUniverseController as myCtrl">
	<p class="text-bold">Hello from {{myCtrl.universe}}</p>
	<hello-world-link link-name="myCtrl.worldState" inner-content="Go To World"></hello-world-link>
</div>